{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div style="padding-bottom: 10px">
        <div class="container">
            <div class="card rounded">
                <div id="cb-2" class="card-body p-5">
                    <div style="padding-bottom: 10px">
                      <h3>WELCOME TO PAPYRUS</h3>
                    </div>
                    <p>This book review website has a database of 5000 different books.</p>
                    <p>You can see what other people have said about a book or leave your own review.</p>
                    <a href="/search"><button class="btn btn-primary">Find your book</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
